spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: file://${user.home}/Downloads/ecom/ecom/ConfigRepo
          clone-on-start: true
          force-pull: false
          basedir: target/config-repo
  security:
    user:
      name: admin
      password: admin123

server:
  port: 8888
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    org.springframework.cloud.config: DEBUG
    org.springframework.security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,env
  endpoint:
    health:
      show-details: always
